  
<% if @user == current_user %>
  <h1>Hello, <%= @user.username %>!</h1>
<% else %>
  <h1><%= @user.username %>'s Profile</h1>
<% end %>

  <div>
    <p>
      <strong>Username:</strong> <%= @user.username %> <br />
      <% if @user == current_user %>
        <strong>Email:</strong> <%= @user.email %>
      <% end %>
    </p>
  </div>

  <div>
    <h2>Favorites</h2>
      <ul>
        <% if @user.favorites.length < 1 %>
          <li>This user has no favorites yet!</li>
        <% else %>
          <% @user.favorites.each do |song| %>
            <li><%= link_to song.title, song_path(song) %> by <%= song.artist %></li>
          <% end %> 
        <% end %>
      </ul>
  </div>

<% if current_user == @user %>
  <%= link_to 'Edit Your Profile', edit_user_registration_path %>
<% end %>
  <p><%= link_to "back to users", users_path %></p>