  
<% if @user == current_user %>
  <h1>Hello, <%= @user.username %>!</h1>
<% else %>
  <h1><%= @user.username %></h1>
<% end %>

  <div>
    <h2>User info</h2>
    <p>
      <strong>Username:</strong> <%= @user.username %> <br />
      <% if @user == current_user %>
        <strong>Email:</strong> <%= @user.email %>
      <% end %>
    </p>
  </div>

  <div>
    <h2>Favorites</h2>
    <ul>
    <% @user.favorites.each do |song| %>
      <li><%= link_to song.title, song_path(song) %> by <%= song.artist %></li>
    <% end %> 
    </ul>
  </div>

<% if current_user == @user %>
  <%= link_to 'Edit User', edit_user_registration_path %>
<% end %>
  <p><%= link_to "back to users", users_path %></p>