<h1>Songs#edit</h1>

<%= form_for(@song) do |f| %>
  <div class="field">
    <p>title</p>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <p>artist</p>
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>