<h1>Edit Song</h1>

<%= form_for(@song) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tag_list, :class => "tag-box" %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, :class => "url-box" %>
  </div>
  <div class="actions">
    <%= f.submit 'Update', :class => "btn btn-default submit-button" %>
  </div>
  <!-- not the best way to secure this, but better than nothing for now -->
  <% if current_user.username == "cerenali" %> 
    <%= link_to "delete song", @song, data: { confirm: 'Are you sure?' }, method: :delete %>
  <% end %>
<% end %>