
  <h1>All Songs</h1>

  <table class="table table-hover">
  	<tr>
  		<th>title</th>
  		<th>artist</th>
  	</tr>
  	<% @songs.each do |song| %>
  		<tr>
        <td>
          <% if Song.all.include? song %>
            <%= link_to song.title, song_path(song.id) %>
          <% else %>
            <%= link_to song.title, new_song_path(:title => song.title,
                                                  :artist => song.artist,
                                                  :url => song.url) %>
          <% end %>
        </td>
  			<td><%= song.artist %></td>
        <td>
          <% if Song.all.include? song %>
            <%= link_to favorite_song_path(song), method: :put do %>
              <% if not current_user.favorites.include? song %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% else %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
            <% end %>
          <% else %>
              <span class="glyphicon glyphicon-plus-sign"></span>
          <% end %>
        </td>
  		</tr>
  	<% end %>
  </table>

  <p><%= link_to "Add new song", new_song_path %></p>