<h1><%= @song.title %></h1>

<div>
  <p>by <%= @song.artist %></p>

  <p><strong>Tags: </strong>
  <% @song.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %> 
</div>

<%= link_to "edit song", edit_song_path(@song.id) %>
<p><%= link_to "back to songs", songs_path %></p>