<h1><%= @song.title %></h1>

<div>
  <p>by <%= @song.artist %></p>
  
  
  <% if @song.url %>
    <div class="embed-container">
      <%= embed(@song.url) %>
    </div>
    <p><span class="glyphicon glyphicon-facetime-video"></span><%= link_to "view on Youtube", @song.url, :target => "_blank" %></p>
  <% else %>
    <p><span class="glyphicon glyphicon-facetime-video"></span> No Youtube link yet. <%= link_to "Add one!", edit_song_path(@song.id) %></p>
  <% end %>

  <p>
    <% if current_user.favorites.include? @song %>
      <%= link_to "remove from favorites", favorite_song_path(@song), method: :put %>
    <% else %>
      <%= link_to "add to favorites", favorite_song_path(@song), method: :put %>
    <% end %>
  </p>

  <p><strong>Tags: </strong>
  <% @song.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %> 
</div>

<%= link_to "edit song", edit_song_path(@song.id) %>
<p><%= link_to "back to songs", songs_path %></p>