<%# add navigation links to this file %>

<li><%= link_to 'Songs', songs_path %></li>

<li><%= link_to 'Users', users_path %></li>

<li><%= link_to 'Tags', tag_index_path %></li>

<% if user_signed_in? %>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>


<li>
  <%= form_tag search_path, method: :get, :class => "navbar-form navbar-left" do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search", class: "btn btn-default" %>
  <% end %>
</li>